@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Lato:regular,600&display=swap");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Lato";
$fontSize: 20;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1370;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #292929;
$grayColor: #484848;
$accentColor: #01996d;
$accentDarkColor: #245852;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	counter-reset: section;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: content-box;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&__hero {
	}
	&__steps {
	}
	&__about {
	}
}
//===================================================================================================================================
.hero {
	display: flex;
	min-height: 100vh;
	position: relative;
	background: linear-gradient(112.58deg, #ffffff 18.15%, rgba(255, 255, 255, 0) 53.07%),
		linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/hero/cover.jpg") center / cover no-repeat;
	@media (max-width: $md2+px) {
		background: linear-gradient(112.58deg, #ffffff 18.15%, rgba(255, 255, 255, 0) 100%),
			linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
			url("../img/hero/cover.jpg") center / cover no-repeat;
	}

	&__container {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
	}
	&__body {
		@media (min-width: $md3+px) {
			max-width: 403px;
			text-align: left;
		}
		@media (max-width: $md3+px) {
			padding: 80px 0px;
		}
		padding: 120px 0px;
		text-align: center;
		position: relative;
	}
	&__title {
		font-family: "Georgia";
		font-weight: 700;
		color: $accentColor;
		letter-spacing: 2px;
		@include adaptiv-value("font-size", 65, 42, 1);
		line-height: math.div(74, 65) * 100%;
		margin: 0px 0px math.div(30, 65) * 1em 0px;
	}
	&__text {
		margin: 0px 0px math.div(50, 20) * 1em 0px;
		@media (max-width: $md3+px) {
			color: $mainColor;
		}
	}
	&__button {
		@media (max-width: $md3+px) {
			width: 100%;
		}
	}
}
//====================================================================================================
.steps {
	@include adaptiv-value("padding-top", 170, 40, 1);
	padding-bottom: 50px;
	&__items {
		display: flex;
		justify-content: space-between;
		@media (max-width: $md2+px) {
			overflow: auto;
			padding: 0px 0px 20px 0px;
		}
	}
	&__column {
		flex: 0 0 60%;
		&:not(:last-child) {
			margin: 0px 30px 0px 0px;
		}
		@media (max-width: $md3+px) {
			flex: 0 0 90%;
			&:not(:last-child) {
				margin: 0px 15px 0px 0px;
			}
		}
		@media (min-width: $md2+px) {
			flex: 0 1 math.div(392, 1370) * 100%;
			&:nth-child(2) {
				padding: 270px 0px 0px 0px;
			}
			&:nth-child(3) {
				padding: 45px 0px 0px 0px;
			}
		}
	}
}
.head-steps {
	@include adaptiv-value("padding-bottom", 200, 40, 1);
	@media (min-width: $md3+px) {
		display: flex;
		justify-content: space-between;
	}
	&__main {
		@media (min-width: $md3+px) {
			flex: 0 1 38%;
			margin: 0px 0px 0px 0px;
		}
		margin: 0px 0px 30px 0px;
	}
	&__suptitle {
		font-weight: 600;
		@include adaptiv-value("font-size", 24, 20, 1);
		line-height: math.div(38, 24) * 100%;
		margin: 0px 0px math.div(5, 24) * 1em 0px;
	}
	&__text {
		@media (min-width: $md3+px) {
			padding: 50px 0px 0px 0px;
			flex: 0 1 47%;
		}
	}
}
.item-steps {
	display: flex;
	flex-direction: column;
	height: 100%;
	&__content {
		@media (max-width: $md2+px) {
			flex: 1 1 auto;
		}
	}
	&__title {
		font-family: "Georgia";
		font-weight: 700;
		font-size: 30px;
		line-height: math.div(45, 30) * 100%;
		margin: 0px 0px math.div(50, 30) * 1em 0px;
		position: relative;
		&::before {
			content: "";
			font-family: "Georgia";
			font-weight: 700;
			position: absolute;
			top: 15px;
			left: 0;
			z-index: -1;
			color: rgba($accentColor, 20%);
			@include adaptiv-value("font-size", 150, 80, 1);
			counter-increment: section;
			content: "0" counter(section);
		}
		@media (min-width: $md2+px) {
			padding: 0px 0px 0px 80px;
			&::before {
				top: -40px;
			}
		}
	}
	&__text {
		margin: 0px 0px math.div(50, 20) * 1em 0px;
	}
	&__image {
		padding: 0px 0px math.div(492, 392) * 100% 0px;
		overflow: hidden;
		border-radius: 12px;
		overflow: hidden;
		img {
			transition: transform 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}
}
//====================================================================================================
.about {
	background: $accentDarkColor;
	@include adaptiv-value("padding-top", 230, 40, 1);
	@include adaptiv-value("padding-bottom", 177, 40, 1);
	&__container {
		max-width: 1507px;
		@media (min-width: $md2+px) {
			display: flex;
			align-items: center;
		}
	}
	&__content {
		margin: 0px 0px 40px 0px;
		@media (min-width: $md2+px) {
			padding: 0px 41px 0px 0px;
			margin: 0px 0px 0px 0px;
		}
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		color: #fff;
		margin: 0px 0px math.div(35, 50) * 1em 0px;
	}
	&__text {
		color: #fff;
		margin: 0px 0px math.div(55, 20) * 1em 0px;
		@media (max-width: $md2+px) {
			margin: 0px 0px math.div(40, 20) * 1em 0px;
		}
	}
	&__button {
		margin: 0px 0px 30px 0px;
		@media (max-width: $md3+px) {
			width: 100%;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: lighten($accentDarkColor, 15%);
			}
		}
	}
	&__video {
		overflow: hidden;
		border-radius: 5px;
		@media (min-width: $md2+px) {
			border-radius: 15px;
			flex: 0 0 math.div(896, 1507) * 100%;
			padding: 0px 0px math.div(516, 1507) * 100% 0px;
		}
		padding: 0px 0px math.div(540.562, 961) * 100% 0px;
		position: relative;
		video {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			max-width: 100%;
		}
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
